.body {
    background-color: #4DA269;
}
ul {
    list-style-type: none;
    display: block;
    padding: 10px;

}
li {
    float: right;
    padding-top: 20px;
}
li a{
    display: block;
    color: black;
    position: relative;
    bottom: 30px;
    right: 200px;
    padding: 10px;
    text-decoration: none;
    font-family: "DejaVu Sans Light";
    font-size: 10px;
    font-weight: bold;
}
.header{
    color: #636666;
    position: absolute;
    top: 1px;
    left: 150px;
    font-weight: bold;
    font-family: fantasy;
    font-size: 20px;
}
.signin{
    position: relative;
    bottom: 5px;
    font-family: DejaVu Sans Light;
    font-size: 12px;
    color: #026b07;
    border-style: solid;
    border-width: 1px;
    background-color: #ffffff;
    border-color: #026b07;
    border-radius: 20px;
}
.text_H{
    display: flex;
    justify-content: right;
    font-family: DejaVu Sans Light;
    font-size: 20px;
    margin-bottom: 10px;
}
.text_comunity{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
    font-family: DejaVu Sans Light;
}
.text{
    font-family: DejaVu Sans Light;
    font-size: 13px;
    text-align: center;
}
img{
    display: block;
    margin: auto;
    max-width: 500px;
}
.agreement{
    font-family: "DejaVu Sans Light";
    font-size: 14px;
    color: white;
    text-align: center;
    padding: 10px;
}
.container{
    background-color: white;
    box-sizing: border-box;

}
.box1{
    font-family: DejaVu Sans Light;
    text-align: center;
    color: #4DA269;
    padding: 10px;
}
.box2 {
    font-family: DejaVu Sans Light;
    text-align: right;
    padding-right: 80px;
}
.signicon{
    color: #026b07;
    position: relative;
    margin-left: 20px;
    bottom: 90px;
}
.signupbox{
    border-style: none;
    box-shadow: 0px 0px 15px #888888;
    position: relative;
    width: 400px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
.exit{
    float: left;
    width: 50px;
    height: 50px;
    padding-left: 60px;
}
.email{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input{
    border-style: solid;
    border-color: #026b07;
    border-width: 1px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
.button{
    border-style: solid;
    border-color: #026b07;
    border-width: 1px;
    background-color: #026b07;
    border-bottom-left-radius: 1px;
    border-top-left-radius: 1px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size:14px;
}
.texticons{
    list-style-type: none;
    display: inline-flex;
    position: absolute;
    left: 30px;
}
.x{
    position: relative;
    left: 350px;
    padding: 10px;
}
.y{
    padding: 10px;
    position: relative;
    margin-left: 10px;
}
.icons {
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: #026b07;
    border-radius: 60px;
    left: 360px;
    padding: 20px;
    color: #026b07;
    margin: 40px;
    top: 20px;
}
.fill{
    background-color: #026b07;
    color: white;
}
