.body {
    background-color: #4DA269;
}
ul {
    list-style-type: none;
     overflow: hidden;
}
li {
    float: right;
    padding-top: 20px;
}
li a{
    display: inline-block;
    color: black;
    position: relative;
    right: 200px;
    padding: 10px;
    text-decoration: none;
    font-family: "DejaVu Sans Light";
    font-size: 10px;
    font-weight: bold;
}
.header{
    color: #636666;
    position: absolute;
    left: 150px;
    font-weight: bold;
    font-family: fantasy;
    font-size: 20px;
}
.button{
    position: relative;
    bottom: 10px;
}
.text_H{
    font-family: Symbola;
    font-size: 20px;
    text-align: center;
}
.text{
font-family: Symbola ;
    font-size: 13px;
    text-align: center;
}
img{
    display: block;
    margin: auto;
    max-width: 500px;
}
.agreement{
    font-family: "DejaVu Sans Light";
    font-size: 14px;
    color: white;
    text-align: center;
}
.container{
    margin: auto;
    background-color: white;
    box-sizing: border-box;
    }
.comunity{
    font-family: Symbola;
    text-align: center;
}
.box1{
    font-family: Symbola;
    text-align: center;
    color: #4DA269;
}
.box2{
    font-family: Symbola;
    text-align: center;
    padding-right: 80px;
}
.signupbox{
    border-style: outset;
    position: relative;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.exit{
    float: left;
    width: 50px;
    height: 50px;
    padding-left: 60px;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.links{
    width: 50px;
    height: 50px;
}
.email{
    display: flex;
    justify-content: center;
    align-items: center;
}
